<!doctype html>
<html class="no-js" lang="en" ng-app="snakebattleApp">
  <head>
    <title>Snake Battle (Alpha)</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      #map-outer {
        width: 900px;
        height: 400px;
        position: relative;
        border: 1px solid #aaa;
        overflow: hidden;
        text-align: center;
      }
      #map {
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 1;
        display: block;
        font-size: 200%;
        z-index: 101;
        text-align: center;
      }
      .snake, .wall, .cherry{
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: 99;
        display: block;
        white-space: nowrap;
        overflow: hidden;
      }
      .snake { background:red; }
      .cherry { background:red; }
      .right { float:right }
      .error { color:red }
      .hidden { display:none }
      #editor { height: 450px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1 id="head">Snake Battle</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="map-outer">
            <div id="map"></div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <h4 class="">Leader Board</h4>
          <div id="leader-board" ng-controller="LeaderBoardCtrl">
            <ol>
              <li ng-repeat="snake in snakes | orderBy:orderProp">
                <span class="label" style="background-color:{{snake.color}};">{{snake.name}}</span> <span class="badge" ng-show="snake.score>0">{{snake.score}}</span>
                <i class="glyphicon glyphicon-tower" ng-show="$index==0"></i> <i class="glyphicon glyphicon-user" ng-show="snake.me"></i>
              </li>
            </ol>
          </div>
          <div class="row">
            <button class="btn btn-default setName">Change my name</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="pull-left">Let's Code</h3>
                  <p></p>
                  <div id="code" class="pull-right">
                    <div id="menu-bar" ng-controller="MenuCtrl">
                      <button class="btn btn-primary btn-lg submitCode" data-toggle="tooltip" title="Run following code" ng-click="run()" ng-hide="running">
                        <i class="glyphicon glyphicon-play"></i> Run
                      </button>
                      <button class="btn btn-warning btn-lg pause" data-toggle="tooltip" title="Pause running code" ng-click="pause()" ng-show="running">
                        <i class="glyphicon glyphicon-pause"></i> Pause
                      </button>
                      <button class="btn btn-success btn-lg saveCode" data-toggle="tooltip" title="Save this code" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                      <p ng-show="saving">Saved</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div id="editor" class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="">Manual Control</h4>
          <table>
            <tr>
              <td></td>
              <td>
                <button type="button" class="btn btn-info btn-lg direction" value="u" data-direction="0"><i class="glyphicon glyphicon-arrow-up"></i></button>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-info btn-lg direction" value="l" data-direction="3">
              <i class="glyphicon glyphicon-arrow-left"></i></button>
              </td>
              <td></td>
              <td>
                <button type="button" class="btn btn-info btn-lg direction" value="r" data-direction="1"><i class="glyphicon glyphicon-arrow-right"></i></button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="button" class="btn btn-info btn-lg direction" value="d" data-direction="2"><i class="glyphicon glyphicon-arrow-down"></i></button>
              </td>
              <td></td>
            </tr>
          </table>
          <hr>
          <div class="row">
            <div id="instruction">
              <h4 class="">Instruction</h4>
              <p>You can access these variables and methods.</p>
              <ul>
                <li><b>Store</b> - your private Store</li>
                <li><b>Map</b> - Map object</li>
                <li>
                  <b>#setDirection(direction)</b> - set the direction of your snake
                  <ul>
                    <li>direction = 0 - up</li>
                    <li>direction = 1 - right</li>
                    <li>direction = 2 - down</li>
                    <li>direction = 3 - left</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <p class="text-left">
          By <a href="https://twitter.com/hybridknight">@hybridknight</a>
          <a href="https://twitter.com/hybridknight" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @hybridknight</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <iframe src="http://ghbtns.com/github-btn.html?user=hybridknight&repo=snake-battle&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </p>
        </div>
      </div>
    </div>
    <div id="mapText"></div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js
    "></script>
    <script type="text/javascript" src="/nowjs/now.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ace/ace.js" charset="utf-8"></script>

    <script>
      code = '';
      var editor;
      var snakebattleApp = angular.module('snakebattleApp', []);
      snakebattleApp.controller('LeaderBoardCtrl', function ($scope) {
        $scope.snakes = [];
        $scope.orderProp = '-score';

        $scope.updateScoreBoard = function(snakes){
          $scope.snakes = snakes;
          $scope.$apply();
        }
      });
      snakebattleApp.controller('MenuCtrl', function ($scope) {
        $scope.running = false;
        $scope.saving = false;
        $scope.run = function(){
          $scope.running = true;
          code = editor.getValue();
          eval(code);
        }

        $scope.pause = function(){
          $scope.running = false;
          code = '';
        }

        $scope.save = function(){
          localStorage.setItem('code', editor.getValue());
          $scope.saving = true;
          setTimeout(function(){
            $scope.saving = false;
          }, 2000);
        }
      });

      $('[data-toggle="tooltip"]').tooltip();

      alert = function(a){console.log(a);}
      now.name = localStorage.getItem('name') || 'Player';
      now.ready(function(){
        now.setName('', now.name);
      });
      now.drawMap = function(map){
      	ngSetSnakeList(map.snakes);
        var mapArray = renderMap(map);
        trigger(mapArray);
      }
      function ngSetSnakeList(list){
        var microappscope = angular.element($("#leader-board")).scope();
        var snakes = []
        for(var i in list){
          var snake = list[i];
          snakes.push({
            name: snake.name,
            score: snake.score,
            color: snake.color,
            me: snake.name == now.name
          });
        }
        microappscope.updateScoreBoard(snakes);
      }
      function setSnakeList(list){
      	$('div.snakesList').html('');
      	var num = 0;
      	for(var i in list){
      		var snake = list[i];
      		var name = snake.name == now.name ?
      		'<b><u>' + snake.name + ' (' + snake.score + ')</u></b>' : snake.name + ' (' + snake.score + ')';
      		name = snake.die ? '<s>' + name + '</s>' : name;
      		$('div.snakesList')
      		.append('<span style="background:'
      		+ snake.color + '">' + name + '</span>');
      		if(++num % 6 == 0){
      			$('div.snakesList')
      		.append('<br/>');
      		}
      	}
      }

      function renderMap(map){
        var width = map.width;
        var height = map.height;
        var snakes = map.snakes;
        var cherries = map.cherries;

        var me;
        var mapArray = [];
        for(var y = 0; y < height; y++){
        	mapArray[y] = [];
        	for(var x = 0; x < width; x++){
        		mapArray[y][x] = null;
        	}
        }

        $('div#map').html('');
        var $map = $('div#map');
        for(var i in snakes){
          var snake = snakes[i];

          if(snake.name == now.name){
            me = snake;
          }

          for(var j in snake.body){
            var segment = snake.body[j];
            $('<span class="snake '+snake.name + ' ' + j +'"></span>')
            .appendTo($map)
            .css({
            	top:(segment.y*10)+"px",
            	left:(segment.x*10)+"px",
            	display:"block",
            	background:snake.color
            	});
            mapArray[segment.y][segment.x] = snake;
          }
        }

        for(var i in cherries){
          var cherry = cherries[i];
          $('<span class="cherry '+cherry.color +' ' + cherry.cherryNo + '"></span>')
            .appendTo($map)
            .css({
              top:(cherry.y*10)+"px",
              left:(cherry.x*10)+"px",
              display:"block",
              background:cherry.color
              });
            mapArray[cherry.y][cherry.x] = cherry;
        }
        //drawMapText(mapArray);
        return {
        	width: width,
        	height: height,
        	mapArray: mapArray,
        	snakes: snakes,
        	cherries: cherries,
        	me: me
        }
      }

      function drawMapText(mapArray){
      	var text = '';
      	for(var y in mapArray){
      		for(var x in mapArray[y]){
      			if(mapArray[y][x]){
      				if(mapArray[y][x].name == now.name){
      					text += 'y';
      				}else{
      					text += 'x';
      				}
       			}else{
      				text += '. ';
      			}
      		}
      		text += '<br/>';
      	}
      	$('div#mapText').html(text);;
      }

      function trigger(map){
      	Map = map;
      	if('undefined' === typeof Store){
      	 Store = {};
      	}

      	eval(code);
      }

      function setDirection(direction){
      	now.setDirection(direction);
      }

      // load code
      (function loadCode(){
      	var savedCode = localStorage.getItem('code');

      	if(!(savedCode && savedCode.length > 0)){
      	  savedCode = "// random direction"
          +"\nvar direction = Math.floor(Math.random()*4);"
          +"\n// set direction of snake"
          +"\nsetDirection(direction);\n";
      	}

      	$('#editor').text(savedCode);
      })();

      $('button.setName').unbind('click').click(function submitCode(){
        var oldName = now.name;
        var newName = prompt("What's your name?", oldName);
        if(newName){
          now.setName(oldName, newName);
          localStorage.setItem('name', newName)
        }
      });

      $('button.direction').unbind('click').click(function clickDirection(){
      	now.setDirection($(this).data('direction'));
      });

      editor = ace.edit("editor");
      editor.getSession().setMode("ace/mode/javascript");
    </script>
  </body>
</html>